body{
    background-color: rgb(220, 245, 245);
    text-align: center;
    display: flex;
    justify-content: center; 
    padding-top: 10vh;
    font-family: 'Courier New', Courier, monospace;
}
form{
    text-align: left;
    background-color: rgb(255, 255, 255);
}
legend{
    font-size: xx-large;
    
}
label{
    font-size: large;
    color:rgb(39, 57, 159)
}